@tailwind base;
@tailwind components;
@tailwind utilities;

.radio-container {
  @apply flex flex-col gap-2;
}

.input {
  @apply border border-borderGray rounded-md;
}
.error-msg {
  @apply text-red-500 absolute text-sm -bottom-5;
}

@layer utilities {
  .content-wrapper {
    position: relative;
    margin-inline: auto;
    max-width: 375px;
    width: calc(100vw - 40px);
    @media (min-width: 540px) {
      max-width: none;
    }
    @media (min-width: 768px) {
      max-width: 1170px;
      width: calc(100vw - 4rem);
    }
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  position: relative;
}
